@model IEnumerable<DAL.Entity.Video>
@{
    ViewBag.Title = "Home Page";
}

<h2>Popular Videos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrlVideoContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <iframe width="560" height="315" src="@item.UrlVideoContent" frameborder="0" allowfullscreen></iframe>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @Html.ActionLink("Details", "Details","Videos", new { id = item.Id },null)
            </td>
        </tr>
    }

</table>