@using Microsoft.AspNet.Identity
@model IEnumerable<DAL.Entity.Video>

@{
    ViewBag.Title = "OldVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OldVideo</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrlVideoContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <iframe width="560" height="315" src="@item.UrlVideoContent" frameborder="0" allowfullscreen></iframe>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes.Count)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @if (User.Identity.GetUserId() == item.MyUser.Id)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
